alias ls='ls --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias hgrep='history | grep'

alias jj='jobs'
alias rm='rm -i'

alias prettify='python -mjson.tool'

if [ $(uname) = "Linux" ]; then
  alias xp='xclip -o'
  alias xc='xclip -sel clipboard'
elif [ $(uname) = "Darwin" ]; then
  alias xp='pbpaste'
  alias xc='pbcopy'
fi

alias dot='git --git-dir=$DOTFILES_REPO --work-tree=$HOME $@'
alias dotfiles='git --git-dir=$DOTFILES_REPO --work-tree=$HOME $@'
