# Lists
alias ls='ls --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# List groups.
alias lg="echo $(cut -d: -f1 /etc/group | sort | tr '\n\' ' ' 2> /dev/null)"

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Search history.
alias hgrep='history | grep'

alias jj='jobs'
alias rm='rm -i'

alias prettify='python -mjson.tool'

# Git aliases.
alias gs='git status'
alias gl='git log'
alias gb='git branch'
alias gt='git tree'
alias gd='git diff'

alias txd='tmux attach -d'

if [ $(uname) = "Linux" ]; then
  alias xp='xclip -o'
  alias xc='xclip -sel clipboard'
elif [ $(uname) = "Darwin" ]; then
  alias xp='pbpaste'
  alias xc='pbcopy'
fi

alias dot='git --git-dir=$DOTFILES_REPO --work-tree=$HOME $@'
alias dotfiles='git --git-dir=$DOTFILES_REPO --work-tree=$HOME $@'

[ -f ~/.work_aliases ] && source ~/.work_aliases
